
  <p-growl [(value)]="msgs"></p-growl>
  <div class="containerForgotPasswordPage">
    <div class="forgot-card ui-grid ui-grid-responsive">
      <h1 style="color:white; text-align:center;">Forgot password</h1>
      <div style="text-align: center" class="ui-grid-row">
        <span style="color: white; margin: auto">Please enter your Email Address</span><br><br>
      </div>
      <div style="text-align: center" id="form" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <!-- login input fields -->
        <div style="text-align: center" class="ui-grid-row">
          <div style="margin: auto" class="inputgroup ui-inputgroup ui-grid-col-6">
            <span style="background: transparent; border-color: white; margin-left: auto" class="ui-inputgroup-addon"><i style="color: white" class="fa fa-user"></i></span>
            <input style="margin-right: auto" #email type="text" pInputText placeholder="E-Mail">
          </div>
        </div>
        <!-- login button -->
        <div style="text-align: center" class="ui-grid-row">
          <button style="margin: auto;background-color: #297E60; border: none" class="button" pButton type="submit" label="Request Reset Link" (click)="requestReset(email.value)">
          </button><br><br><br>
        </div>
        <!--<div style="text-align: center" class="ui-grid-row">
          <button style="margin: auto" class="button" pButton label="Back to Login" [routerLink]="['']">
          </button>
        </div>-->
        <br><br><br><br><br>
      </div>
    </div>
  </div>




