
  <p-growl [(value)]="msgs"></p-growl>
  <div class="containerResetPasswordPage">
    <div class="reset-card ui-grid ui-grid-responsive">
      <h1 style="color:white; text-align:center;">Reset password</h1>
    <form [formGroup]="resetform" (ngSubmit)="setNewPassword(resetform.value['password'])">

      <div style="text-align: center" class="ui-grid-row">
        <span style="color: white; margin: auto">Please enter your new Password</span><br><br>
      </div>
      <div style="text-align: center" id="form" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <!-- login input fields -->
        <div style="text-align: center" class="ui-grid-row">
          <div style="margin: auto" class="inputgroup ui-inputgroup ui-grid-col-6">
            <span style="background: transparent; border-color: white; margin-left: auto" class="ui-inputgroup-addon"><i style="color: white" class="fa fa-lock"></i></span>
            <input style="margin-right: auto" formControlName="password" #password type="password" pInputText placeholder="new Password">
            <div>
              <div style="width: fit-content" class="ui-message ui-messages-error ui-corner-all" *ngIf="!resetform.controls['password'].valid&&resetform.controls['password'].dirty">
                <span *ngIf="resetform.controls['password'].errors['required']">required</span>
                <span *ngIf="resetform.controls['password'].errors['minlength']">password has to be longer</span>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: center" class="ui-grid-row">
          <div style="margin: auto" class="inputgroup ui-inputgroup ui-grid-col-6">
            <span style="background: transparent; border-color: white; margin-left: auto" class="ui-inputgroup-addon"><i style="color: white" class="fa fa-lock"></i></span>
            <input style="margin-right: auto" formControlName="passwordrepetition" type="password" pInputText placeholder="repeat new Password">
            <div>
              <div style="width: fit-content" class="ui-message ui-messages-error ui-corner-all" *ngIf="!resetform.controls['passwordrepetition'].valid&&resetform.controls['passwordrepetition'].dirty">
                <span>non-matching passwords</span>
              </div>
            </div>
          </div>
        </div>
        <!-- login button -->
        <div style="text-align: center" class="ui-grid-row">
          <button style="margin: auto; background-color: #2B9E81; border: none" class="button" pButton type="submit" label="Confirm" [disabled]="!resetform.valid">
          </button><br><br><br>
        </div>
          <div style="text-align: center" class="ui-grid-row">
          </div>
      </div>
    </form>
    </div>
  </div>


